.field {
    align-items: center;
    label {
        width: 150px;
    }
    input {
        margin: 5px;
        border: 1px solid gainsboro;
    }
    select {
        margin: 5px;
        border: 1px solid gainsboro;
    }
}