.field {
    align-items: center;
    label {
        width: 15%;
    }
    input[type=text], input[type=number], input[type=date] {
        display: inline;
        margin: 5px;
        border: 1px solid gainsboro;
        width: 82%;
    }
    select {
        margin: 5px;
        border: 1px solid gainsboro;
        width: 82%;
    }
}

div.q-type-message {
    margin-left: 15%;
    font-size: smaller;
    color: blue;
}